<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <!--        active == class css      -->
                <a mat-button [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a mat-button [routerLink]="['/products']" routerLinkActive="active">Products</a>
                <a mat-button [routerLink]="['/contact']" routerLinkActive="active">Contacts</a>
            </nav>
            <!-- 
                totalItems$ | async ==> va ce subscribe et 
                kand il n'en a plus besoin il va unsubscribe.
                evite la perte de memoire, meilleur performance.
            -->
            <a mat-raised-button [routerLink]="['/order']" [matBadge]="totalItems$ | async" matBadgeColor="accent">
                <mat-icon>shopping_cart</mat-icon>
                cart
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>