<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel> Products </ng-template>
        <!-- 
            Une fois et seulement 1 fois que tu te souscrit
            garde moi sa dans une var temp
         -->
        <div *ngIf="(productsCart$ | async) as ProductsTemps">
            <p *ngIf="ProductsTemps.length == 0">
                No products in your carts
            </p>

            <div class="row" *ngFor="let item of ProductsTemps">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="item.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="box">{{ item.title }}</div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="box">{{ item.price }}</div>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel> Personal Data </ng-template>
        <h1>Body</h1>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel> Paiment </ng-template>
        <h1>Body</h1>
    </mat-step>
</mat-horizontal-stepper>