<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img [src]="product.image" [alt]="product.title">
    </div>
    <mat-card-content>
        <p>
            {{product.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button [routerLink]="[ '/products', product.id ]">Detail</a>
        <button (click)="addToChart()" mat-raised-button color="primary">Ajouter au Panier</button>
    </mat-card-actions>
</mat-card>