<form [formGroup]="productFG" (ngSubmit)="SaveProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="id" matInput placeholder="Id" type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="title" matInput placeholder="title" type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">

          <mat-form-field>
            <input formControlName="price" matInput type="number">
          </mat-form-field>
          
          <div *ngIf="priceformField.errors && priceformField.dirty"></div>
          <!--  hasError('required') => type de validation(Validators formControl)   -->
          <!--  price_Invalid => viens du dossier Utils/Validator.ts  -->
          <p *ngIf="priceformField.hasError('price_Invalid')">sa ne doit pas deppasser de 1000</p>
          <p *ngIf="priceformField.hasError('required')">Chmps required</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea formControlName="description" matInput placeholder="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="productFG.invalid" mat-raised-button color="primary" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>