<!-- *ngIf="product" = pour eviter l'erreur de renderisation -->
<!-- Attand que tout le product soit bien charge -->
<div *ngIf="product">
    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>name: {{ product.title }}</li>
            <li>price: {{ product.price | currency }}</li>
        </ul>
        <p>{{ product.description }}</p>
    </div>
</div>